
@{
    ViewBag.Title = "AURIndex";
    Layout = "~/Views/Shared/_AURLayout.cshtml";
}
@*@Styles.Render("~/Content/IndexCSS")*@
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

@Scripts.Render("~/Scripts/IndexScript")
<script src="~/Content/DatatableGrid/AURGridDetails.js"></script>

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">User Registration</h2>
    </div>
</header>
<iframe width="100%" height="1000px" src="Index" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>