
@{
    ViewBag.Title = "AURMenuIndex";
    Layout = "~/Views/Shared/_AURLayout.cshtml";
}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<br />
<input type="hidden" value="0" id="appid" />
<h3 style="margin-left:15px">Please Select ULB</h3>
<div class="d-flex justify-content-between">
    <div id="chartContainer" style="height: 200px; width: 180px; margin-left:5%"></div>


    <div id="chartContainer1" style="height: 200px; width: 180px;"></div>
    <div id="chartContainer2" style="height: 200px; width: 275px; margin-right: 20%"></div>
</div>

  <script>
     /* total property*/
      CanvasJS.addColorSet("customColors1", ["#ff6384", "#36a2eb", "#ffce56"]);
      var chart = new CanvasJS.Chart("chartContainer", {
          colorSet: "customColors1",
          title: {
              text: "1234567",
              verticalAlign: "center",
              dockInsidePlotArea: true,
              fontColor: "#ff6384",
              fontSize: 26,
              fontFamily: "arial"
          },
          legend: {
              verticalAlign: "bottom"
          },
          data: [{
              type: "doughnut",
              startAngle: -90,
              innerRadius: "80%",
              showInLegend: false,
              legendMarkerType: "square",
              dataPoints: [
                  { y: 70, name: "Red" },
                  { y: 10, name: "Green" },
                  { y: 20, name: "Yellow" }
              ]
          }]
      });

      chart.render();

      /*Total Scanning */
      CanvasJS.addColorSet("customColors1", ["#ff6384", "#36a2eb", "#ffce56"]);

      var chart = new CanvasJS.Chart("chartContainer1", {
          colorSet: "customColors1",
          title: {
              text: "1234567",
              verticalAlign: "center",
              dockInsidePlotArea: true,
              fontColor: "#ff6384",
              fontSize: 26,
              fontFamily: "arial"
          },
          legend: {
              verticalAlign: "bottom"
          },
          data: [{
              type: "doughnut",
              startAngle: -90,
              innerRadius: "80%",
              showInLegend: false,
              legendMarkerType: "square",
              dataPoints: [
                  { y: 70, name: "Red" },
                  { y: 10, name: "Green" },
                  { y: 20, name: "Yellow" }
              ]
          }]
      });

      chart.render();

      /*chart type*/
      CanvasJS.addColorSet("customColors", ["#ff6384", "#36a2eb", "#ffce56"]);
      var res_mixed_coll =70 * 100 / 100;
      var res_bif_coll = 10 * 100 / 100;
      var res_not_coll =20 * 100 / 100;
      var chart = new CanvasJS.Chart("chartContainer2", {
          colorSet: "customColors",
          title: {
              text: "1234567",
              verticalAlign: "center",
              dockInsidePlotArea: true,
              fontColor: "#ff6384",
              fontSize: 26,
              fontFamily: "arial"
          },
          toolTip: {
              content: "In Numbers {number}",
          },
          legend: {
              maxWidth: 90,
            
              fontSize: 14,
              verticalAlign: "center",
              horizontalAlign: "right"
          },
          data: [{
              type: "doughnut",
              startAngle: -90,
              innerRadius: "80%",
              legendText: "{name}:{y}%",
              showInLegend: true,
              legendMarkerType: "square",
              dataPoints: [
                  { y: res_mixed_coll, name: "Red", number:70 },
                  { y: res_bif_coll, name: "Green", number:10 },
                  { y: res_not_coll, name: "Yellow", number: 20}
              ]
          }]
      });

      chart.render();
  </script>