<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Server-->
    <!--<add name="DefaultConnection" connectionString="Data Source=202.65.157.253;Initial Catalog=LIVEDevSwachhBharatMain;user id=appynitty;password=BigV$Telecom;" providerName="System.Data.SqlClient" />
    <add name="DevChildSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachBharatAbhiyan.csdl|res://*/ChildSwachBharatAbhiyan.ssdl|res://*/ChildSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatNagpur;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachBharatAbhiyan.csdl|res://*/MainSwachBharatAbhiyan.ssdl|res://*/MainSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEDevSwachhBharatMain;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Staging-->
    <!--<add name="DefaultConnection" connectionString="Data Source=115.115.153.117;Initial Catalog=LIVEDevSwachhBharatMain;user id=appynitty;password=BigV$Telecom;" providerName="System.Data.SqlClient" />-->
    <!--Local-->
	  <!--Live-->
     <!--<add name="DevChildSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachBharatAbhiyan.csdl|res://*/ChildSwachBharatAbhiyan.ssdl|res://*/ChildSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEAdvanceDevSwachhBharatNagpur;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachBharatAbhiyan.csdl|res://*/MainSwachBharatAbhiyan.ssdl|res://*/MainSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.65.157.253;initial catalog=LIVEAdvanceDevSwachhBharatMain;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   
    
    
    <!--<add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachBharatAbhiyan.csdl|res://*/MainSwachBharatAbhiyan.ssdl|res://*/MainSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.8;initial catalog=DevSwachhBharatMain;user id=sa;password=Appy_1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DevChildSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachBharatAbhiyan.csdl|res://*/ChildSwachBharatAbhiyan.ssdl|res://*/ChildSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.115.153.117;initial catalog=LIVEDevSwachhBharatNagpur;user id=sa;password=sa@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachBharatAbhiyan.csdl|res://*/MainSwachBharatAbhiyan.ssdl|res://*/MainSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.115.153.117;initial catalog=LIVEDevSwachhBharatMain;user id=appynitty;password=BigV$Telecom;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="DevChildSwachhBharatNagpurEntities" connectionString="metadata=res://*/ChildSwachBharatAbhiyan.csdl|res://*/ChildSwachBharatAbhiyan.ssdl|res://*/ChildSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.43;initial catalog=LIVEAdvanceDevSwachhBharatNagpur;user id=sa;password=Appy_1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="DevSwachhBharatMainEntities" connectionString="metadata=res://*/MainSwachBharatAbhiyan.csdl|res://*/MainSwachBharatAbhiyan.ssdl|res://*/MainSwachBharatAbhiyan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.43;initial catalog=LIVEAdvanceDevSwachhBharatMain;user id=sa;password=Appy_1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>