@{
    //ViewBag.Title = "उपस्थिती तपशील";
    ViewBag.Title = " Monthly Attendance Details";
}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Monthly Attendance Details</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="MonthlyAttedance" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>
