@{
    Layout = "";
}

@Styles.Render("~/Content/IndexCSS")
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

@Scripts.Render("~/Scripts/IndexScript")
<script src="~/Content/DatatableGrid/MonthlyAttendenceGrid.js"></script>
<body>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="controls">
                    @*<label>तारखेपासून / From Date</label>*@
                    <label> From Date</label>
                    <input id="txt_fdate" class="datepicker form-control form-control-sm" type="text" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="controls">
                    @*<label>तारीख पर्यंत / To Date</label>*@
                    <label>To Date</label>
                    <input id="txt_tdate" class="datepicker form-control form-control-sm" type="text" />
                </div>
            </div>
            <div class="col-sm-4">
                @*<label>कर्मचारी निवडा / Select Employee</label>*@
                <label>Select Employee</label>
                <select id="selectnumber" class="form-control form-control form-control-sm"></select>
            </div>
            <div class="col-sm-2">
                <div class="controls">
                    <input data-background-color="filter-button-box-color" style="margin-top:28px;" class="btn btn-sm btn-primary filter-button-style" type="button" value="Filter Records" id="filter" onclick="Search()" />
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <br />
        <div style="width:100%; margin:0 auto;">
            @*<input type="text" id="s" class="float-right" onkeyup="Search()" />*@


            <label style="display:inline-flex" class="float-right">Search:&nbsp;<input type="text" id="s" class="form-control form-control-sm" onkeyup="Search()"></label>
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th> Employee ID</th>
                        <th> Employee Name</th>
                        <th> Month Name</th>
                        <th> Day 1</th>
                        <th> Day 2</th>
                        <th> Day 3</th>
                        <th> Day 4</th>
                        <th> Day 5</th>
                        <th> Day 6</th>
                        <th> Day 7</th>
                        <th> Day 8</th>
                        <th> Day 9</th>
                        <th> Day 10</th>

                        <th> Day 11</th>
                        <th> Day 12</th>
                        <th> Day 13</th>
                        <th> Day 14</th>
                        <th> Day 15</th>
                        <th> Day 16</th>
                        <th> Day 17</th>
                        <th> Day 18</th>
                        <th> Day 19</th>
                        <th> Day 20</th>

                        <th> Day 21</th>
                        <th> Day 22</th>
                        <th> Day 23</th>
                        <th> Day 24</th>
                        <th> Day 25</th>
                        <th> Day 26</th>
                        <th> Day 27</th>
                        <th> Day 28</th>
                        <th> Day 29</th>
                        <th> Day 30</th>
                        <th> Day 31</th>


                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>



<script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = day + "/" + month + "/" + year;

    document.getElementById('txt_fdate').value = today;
    document.getElementById('txt_tdate').value = today;


</script>
<script src="~/Content/graph-assets/js/custom.js"></script>
<script src="~/Content/css/datepicker/js/datepicker.js"></script>
<script type="text/javascript">
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        weekStart: 1,
        color: 'red',
        pickTime: false
    }).on('changeDate', function (e) {

        $(this).datepicker('hide');

    });
    //hide  show on hover
    $('#txt_fdate').focus(function () {
        $('.dtpk_drpdwn').eq(1).hide();
    });
    $('#txt_tdate').focus(function () {
        $('.dtpk_drpdwn').eq(0).hide();
    });


</script>
</html>