

@{
    //ViewBag.Title = "नकाशावरील स्थान तपशील";
    ViewBag.Title = "On Map Location";
}


<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">On Map Location</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="AllUserLocation" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>