
@{
    ViewBag.Title = "League 2020";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">SS League 2020</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="Index" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>
