

@{
    Layout = "";
}

@Styles.Render("~/Content/IndexCSS")
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

@Scripts.Render("~/Scripts/IndexScript")
<script src="~/Content/DatatableGrid/AdminCount.js"></script>
<style>
    .card-body {
        padding: 20px;
        font-size: 16px;
        font-weight: 600;
        text-align:center;
        border: 1px solid #3ab59e;
    }
</style>
<body>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3> Admin Menus</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                @*<h3>Super Admin</h3>*@
                <a href="Login">
                    <div class="card">
                        <div class="card-body">
                            Super Admin
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                @*<h3>Super Admin</h3>*@
                <a href="/HouseScanify/login">
                    <div class="card">
                        <div class="card-body">
                            House Scanify
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                @*<h3>Super Admin</h3>*@
                <a href="http://ghantagadi.in:86/Sauchalay/Login" target="new">
                    <div class="card">
                        <div class="card-body">
                            CT/PT
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <h3>CMS Admin App Link</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @*<h3>Super Admin</h3>*@
                <a href="https://play.google.com/store/apps/details?id=com.appynitty.sba_admin" target="new">
                    <div class="card">
                     
                        <div class="card-body">
                            Admin Garbage Collection Van
                        </div>
                    </div>
                </a>
            </div>
        </div><br />
        <div class="row">
            <div class="col-sm-12">
                @*<h3>Super Admin</h3>*@
                <img class="img-responsive" src="~/Content/images/img/segregationImg/CMS_AppLink.png" style="width:150px;height:150px" />
                <h5>Direct Download from Playstore</h5>

            </div>
        </div>
    </div>




    <div id="snackbar">Image not uploaded...</div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDywSnWh8pKWPa5o5Ws8cI0_SgN6M27TjQ&callback=myMap" type="text/javascript"></script>
<!-- Dashboard Header Section    -->

<script type="text/javascript">
    //setInterval('window.location.reload()', 60000);
</script>