

@{
    //ViewBag.Title = "डंप यार्ड  नोंदणी";
    ViewBag.Title = "Liquid Waste Registration";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Street Sweeping Registration</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="Index" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>