@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.DashBoardVM

@{
    ViewBag.Title = "डैशबोर्ड";
}
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom"> डैशबोर्ड </h2>
    </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <a href="~/Attendence/MenuIndex">
                    <div class="item d-flex align-items-center">
                        <div class="icon bg-violet"><i class="icon-user"></i></div>
                        <div class="title">
                            <span>उपस्थिती</span>
                            <div class="progress">
                                <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                            </div>
                        </div>
                        <div class="number"><strong>@Model.Attendance</strong></div>
                    </div>
                    </a>
</div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <a href="~/GarbageCollection/MenuHouseGarbageIndex">
                  <div class="item d-flex align-items-center">

                  <div class="icon bg-red"><i class="icon-padnote"></i></div>
                 <div class="title">
                    <span>घर संकलन</span>
                    <div class="progress">
                        <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                    </div>
                </div>
        <div class="number">
            <strong>
                @Model.HouseCollection
            </strong>
        </div> 
    </div>
               </a>
            </div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6"><a href="~/GarbageCollection/MenuPointGarbageIndex">
    <div class="item d-flex align-items-center">
        <div class="icon bg-green"><i class="icon-bill"></i></div>
        <div class="title">
            <span>कचरा  <br>पॉईंट संकलन</span>
            <div class="progress">
                <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
            </div>
        </div>
        <div class="number"><strong>@Model.PointCollection</strong></div>
    </div>
                </a>
</div>
            <!-- Item -->
            <div class="col-xl-3 col-sm-6">
                <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="icon-check"></i></div>
                    <div class="title">
                        <span>स्वच्छ <br> तक्रार</span>
                        <div class="progress">
                            <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                        </div>
                    </div>
                    <div class="number"><strong>50</strong></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard Header Section    -->
<script>
    $(document).ready(function () {

        var url = "/HouseMaster/AddHouseDetails?teamId=-1";
        window.location.href = url;


    })


</script>






