@{
    ViewBag.Title = "Report";
}

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom" style="font-weight:700">Report</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="ReportIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>