@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.ZoneVM
@{
    ViewBag.Title = "SaveBundel Visiting";
}

<h2>SaveBundel Visiting</h2>

@using (@Html.BeginForm("SaveBundelVisiting", "HouseMaster", FormMethod.Post))
{

    @Html.Label("Total")
    @Html.TextBoxFor(model => model.id)
    <button type="submit">Save</button>
}



