@model SwachBharat.CMS.Bll.ViewModels.ChildModel.Model.ZoneVM
@{
    ViewBag.Title = "SaveBundelVisitingDryWet";
}

<h2>SaveBundelVisitingDryWet</h2>


@using (@Html.BeginForm("SaveBundelVisitingDryWet", "HouseMaster", FormMethod.Post))
{

    @Html.Label("Total")
    @Html.TextBoxFor(model => model.id)
    <button type="submit">Save</button>
}
