body {
}

.btn-primary {
    background: #189cdf !important;
}
nav.navbar {
    background: #189cdf !important;
}

nav.side-navbar ul li a:hover {
    background: #189cdf !important;
}
nav.side-navbar {
    background: #d8f1fe !important;
}
 nav.side-navbar ul li a {
        color: #000 !important;
    }
    nav.side-navbar a[aria-expanded="true"] {
        background: #189cdf !important;
    }
    nav.side-navbar ul li li a {
     
        background: #ffffff !important;
    }
svg.svg3 g path {
    fill: #000 !important;
}
svg.svg g g * {
    fill: #000 !important;
}
.nav-tabs .tabid.active {
    color: #fff;
    background-color: #189cdf !important;
}
.btn-success {
    background-color: #189cdf !important;
    border-color: #189cdf !important;
}
thead {
   color: #189cdf !important;
}
header.page-header {
    text-align:center;
}