
@{
    ViewBag.Title = "Cleanliness Game";
}


<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Cleanliness Game</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="InfotainmentDetails" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>