
@{
    //ViewBag.Title = "कचरा पॉईंट संकलन तपशील";
    ViewBag.Title = "Liquid Waste Cleaning Point";

}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Liquid Waste Cleaning Point</h2>
    </div>
</header>
<iframe width="100%" height="600px" src="LiquidGarbageIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>