
@{
    //ViewBag.Title = "झोन तपशील";
    ViewBag.Title = "Zone Details";
}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Zone Details</h2>
    </div>
</header>

<iframe width="100%" height="600px" src="ZoneIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>
