
@{
    //ViewBag.Title = "घर संकलन तपशील";
    ViewBag.Title = "Household Collection";
}

<header class="page-header">

    <div class="container-fluid">
        <h2 class="no-margin-bottom">Household Collection</h2>
    </div>

</header>
<iframe width="100%" height="600px" src="HouseGarbageIndex" frameborder="0">
    
    <p>Your browser does not support iframes.</p>
</iframe>