

@{
    Layout = "";
}

@Styles.Render("~/Content/IndexCSS")
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

@Scripts.Render("~/Scripts/IndexScript")
<script src="~/Areas/Street/Content/Script/DatatableGrid/EmployeeDetailsGrid.js"></script>

<body>

    <div class="container">
        <br />
        <div><h3 id="change" class="text-center text-bold" style="margin-bottom:2%">Active Employee</h3></div>
        <div style="width:100%; margin:0 auto;">
            <button onclick="goBack()" class="btn btn-success btn-sm float-left mr-3" id="btn">Go Back</button>
            <a href="AddEmployeeDetails" class="btn btn-success btn-sm float-right mr-3" type="button">Add Employee</a>
            <a href="" id="NotActivebtn" class="btn btn-success btn-sm float-right mr-3" type="button">Not Active Employee</a>

            <label style="display:inline-flex;padding-right:5px" class="float-right">Search:&nbsp;<input type="text" id="s" class="form-control form-control-sm" onkeyup="Search()"></label>
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    @*<tr>
                            <th>Id</th>
                            <th>नाव <br /> Name</th>
                            <th>नाव मराठी <br /> Name Marathi</th>
                            <th>मोबाइल <br /> Mobile</th>
                            <th>एम्प्लॉयमेंट आयडी <br />Employment ID </th>
                            <th>फोटो <br /> Image</th>
                            <th>पत्ता<br /> Address</th>
                            <th>रक्त गट <br /> Blood Group</th>
                            <th>स्थिती<br /> Status</th>
                            <th>लक्ष्य<br /> Target</th>
                            <th>क्रिया <br />Action</th>
                        </tr>*@

                    <tr>
                        <th>Id</th>
                        <th> Name</th>
                        <th> Name Marathi</th>
                        <th> Mobile</th>
                        <th> Employment ID </th>
                        <th> Image</th>
                        <th> Address</th>
                        <th> Blood Group</th>
                        <th> Status</th>
                        <th> Target</th>
                        <th> Action</th>
                    </tr>
                </thead>
            </table>

            <table id="demoGridNonActive" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    @*<tr>
                            <th>Id</th>
                            <th>नाव <br /> Name</th>
                            <th>नाव मराठी <br /> Name Marathi</th>
                            <th>मोबाइल <br /> Mobile</th>
                            <th>एम्प्लॉयमेंट आयडी <br />Employment ID </th>
                            <th>फोटो <br /> Image</th>
                            <th>पत्ता<br /> Address</th>
                            <th>रक्त गट <br /> Blood Group</th>
                            <th>स्थिती<br /> Status</th>
                            <th>लक्ष्य<br /> Target</th>
                            <th>क्रिया <br />Action</th>
                        </tr>*@

                    <tr>
                        <th>Id</th>
                        <th> Name</th>
                        <th> Name Marathi</th>
                        <th> Mobile</th>
                        <th> Employment ID </th>
                        <th> Image</th>
                        <th> Address</th>
                        <th> Blood Group</th>
                        <th> Status</th>
                        <th> Target</th>
                        <th> Action</th>
                    </tr>
                </thead>
            </table>




        </div>
    </div>




    <div id="myModal_Image" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="header_data" class="modal-title"></h4>
                </div>
                <div class="modal-body">

                    <center>
                        <img class="img-responsive" id="imggg" alt="Photo Not Found">
                        <br />
                        @*<p> <b id="hide_date">Date: </b><span id="dateData"></span></p>
                            <p> <b id="hide_add">Address: </b><span id="latlongData"></span></p>*@
                    </center>

                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                        @*<a href="~/Images/Nagpur/Job/download.pdf" class="btn btn-default" download>Download</a>*@
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="snackbar">Image not uploaded...</div>
</body>
