
@{
    ViewBag.Title = "HSUserList";
    Layout = "~/Views/Shared/_HSLayout.cshtml";
}

<input type="hidden" value="@ViewBag.AppId" id="appid" />
<iframe width="100%" height="600px" src="Index" id="index_appid" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>

