

@{
    //ViewBag.Title = "राज्य तपशील";
    ViewBag.Title = "1.6 Reports";
}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">1.6 Reports</h2>
    </div>
</header>


<iframe width="100%" height="600px" src="Modifypoint6Report" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>
